{
  "env": {
    "MONGOENDPOINT": "",
    "STARTPORT": 5000,
    "ADMIN_USER": "admin@movie-shop.com",
    "OMDB_API_KEY": "",
    "OMDB_URL": "https://www.omdbapi.com/",
    "AUDIENCE": "",
    "ISSUER": "",
    "JWKS_URI": "",
    "STRIPE_TEST_SECRET_KEY": "",
    "STRIPE_ENDPOINT_SECRET": "",
    "DVD_RENT_PRICE_ID": "",
    "EMAIL_ADDRESS": "",
    "EMAIL_PASSWORD": "",
    "DB_DOWN_EMAIL_ALERT_ADDRESS": "",
    "WEBHOOK_ID": "",
    "PAYPAL_VERIFY_URL": "https://api-m.sandbox.paypal.com/v1/notifications/verify-webhook-signature",
    "PAYPAL_CLIENT_ID": "",
    "PAYPAL_CLIENT_SECRET": "",
    "PAYPAL_AUTH_URL": "https://api-m.sandbox.paypal.com/v1/oauth2/token"        
  }
}
