{
  "env": {
    "MONGOENDPOINT": "mongodb://movieshop_floormeat:pwd@cm7.h.filess.io:27018/movieshop_floormeat",
    "STARTPORT": 5000,
    "ADMIN_USER": "admin@movie-shop.com",
    "OMDB_API_KEY": "",
    "OMDB_URL": "https://www.omdbapi.com/",
    "AUDIENCE": "",
    "ISSUER": "",
    "JWKS_URI": "",
    "STRIPE_TEST_SECRET_KEY": "",
    "STRIPE_ENDPOINT_SECRET": "",
    "STRIPE_DVD_RENT_PRICE_ID": "",
    "EMAIL_ADDRESS": "",
    "EMAIL_PASSWORD": "",
    "DB_DOWN_EMAIL_ALERT_ADDRESS": "",
    "PAYPAL_WEBHOOK_ID": "",
    "PAYPAL_VERIFY_URL": "https://api-m.sandbox.paypal.com/v1/notifications/verify-webhook-signature",
    "PAYPAL_CLIENT_ID": "",
    "PAYPAL_CLIENT_SECRET": "",
    "PAYPAL_AUTH_URL": "https://api-m.sandbox.paypal.com/v1/oauth2/token",
    "PAYPAL_GET_ORDER_INFO_URL": "https://api-m.sandbox.paypal.com/v2/checkout/orders",
    "PAYPAL_GET_PLANS_URL": "https://api-m.sandbox.paypal.com/v1/billing/plans",
    "PAYPAL_GET_SUBSCRIPTION_INFO_URL": "https://api-m.sandbox.paypal.com/v1/billing/subscriptions"            
  }
}
